[1maltair[0m==5.5.0
[1march[0m==7.2.0
[1masttokens[0m==3.0.0
[1mattrs[0m==25.3.0
[1mav[0m==13.1.0
[1mbeautifulsoup4[0m==4.13.5
[1mblinker[0m==1.9.0
[1mcachetools[0m==6.1.0
[1mcertifi[0m==2025.8.3
[1mcffi[0m==1.17.1
[1mcharset-normalizer[0m==3.4.3
[1mclick[0m==8.2.1
[1mcloup[0m==3.0.8
[1mcontourpy[0m==1.3.3
[1mcurl-cffi[0m==0.13.0
[1mcycler[0m==0.12.1
[1mcython[0m==3.1.3
[1mdecorator[0m==5.2.1
[1met-xmlfile[0m==2.0.0
[1mexecuting[0m==2.2.0
[1mfonttools[0m==4.59.1
[1mfrozendict[0m==2.4.6
[1mgitdb[0m==4.0.12
[1mgitpython[0m==3.1.45
[1mglcontext[0m==3.0.0
[1mgreenlet[0m==3.2.4
[1mhtml5lib[0m==1.1
[1midna[0m==3.10
[1minflection[0m==0.5.1
[1mipython[0m==9.4.0
[1mipython-pygments-lexers[0m==1.1.1
[1misosurfaces[0m==0.1.2
[1mjedi[0m==0.19.2
[1mjinja2[0m==3.1.6
[1mjoblib[0m==1.5.1
[1mjsonschema[0m==4.25.1
[1mjsonschema-specifications[0m==2025.4.1
[1mkiwisolver[0m==1.4.9
[1mlxml[0m==6.0.1
[1mmanim[0m==0.19.0
[1mmanimpango[0m==0.6.0
[1mmapbox-earcut[0m==1.0.3
[1mmarkdown-it-py[0m==4.0.0
[1mmarkupsafe[0m==3.0.2
[1mmatplotlib[0m==3.10.5
[1mmatplotlib-inline[0m==0.1.7
[1mmdurl[0m==0.1.2
[1mmizani[0m==0.14.2
[1mmoderngl[0m==5.12.0
[1mmoderngl-window[0m==3.1.1
[1mmore-itertools[0m==10.7.0
[1mmultitasking[0m==0.0.12
[1mnarwhals[0m==2.1.2
[1mnetworkx[0m==3.5
[1mnumpy[0m==2.3.2
[1mopenpyxl[0m==3.1.5
[1mpackaging[0m==25.0
[1mpandas[0m==2.3.2
[1mpandas-datareader[0m==0.10.0
[1mparso[0m==0.8.5
[1mpatsy[0m==1.0.1
[1mpeewee[0m==3.18.2
[1mpexpect[0m==4.9.0
[1mpillow[0m==11.3.0
[1mpip[0m==25.2
[1mplatformdirs[0m==4.3.8
[1mplaywright[0m==1.54.0
[1mplotly[0m==6.3.0
[1mplotnine[0m==0.15.0
[1mpolars[0m==1.32.3
[1mprompt-toolkit[0m==3.0.51
[1mprotobuf[0m==6.32.0
[1mptyprocess[0m==0.7.0
[1mpure-eval[0m==0.2.3
[1mpyarrow[0m==21.0.0
[1mpycairo[0m==1.28.0
[1mpycparser[0m==2.22
[1mpydeck[0m==0.9.1
[1mpydub[0m==0.25.1
[1mpyee[0m==13.0.0
[1mpyglet[0m==2.1.8
[1mpyglm[0m==2.8.2
[1mpygments[0m==2.19.2
[1mpyparsing[0m==3.2.3
[1mpython-dateutil[0m==2.9.0.post0
[1mpytz[0m==2025.2
[1mquandl[0m==3.7.0
[1mreferencing[0m==0.36.2
[1mrequests[0m==2.32.5
[1mrich[0m==14.1.0
[1mrisktools[0m @ git+https://github.com/bbcho/risktools-dev.git@1d11115807c79f7393c47fac4ce66f2dca2c6491
[1mrpds-py[0m==0.27.0
[1mscikit-learn[0m==1.7.1
[1mscipy[0m==1.16.1
[1mscreeninfo[0m==0.8.1
[1mseaborn[0m==0.13.2
[1msetuptools[0m==80.9.0
[1msix[0m==1.17.0
[1mskia-pathops[0m==0.8.0.post2
[1msmmap[0m==5.0.2
[1msoupsieve[0m==2.7
[1msrt[0m==3.5.3
[1mstack-data[0m==0.6.3
[1mstatsmodels[0m==0.14.5
[1mstreamlit[0m==1.48.1
[1msvgelements[0m==1.9.6
[1mtenacity[0m==9.1.2
[1mthreadpoolctl[0m==3.6.0
[1mtoml[0m==0.10.2
[1mtornado[0m==6.5.2
[1mtqdm[0m==4.67.1
[1mtraitlets[0m==5.14.3
[1mtyping-extensions[0m==4.14.1
[1mtzdata[0m==2025.2
[1murllib3[0m==2.5.0
[1muv[0m==0.8.13
[1mwatchdog[0m==6.0.0
[1mwcwidth[0m==0.2.13
[1mwebencodings[0m==0.5.1
[1mwebsockets[0m==15.0.1
[1myfinance[0m==0.2.65
